/*
Este css se entiende poh.
*/
body {
  background-color:black;
  margin-bottom: 200px; 
}

.App {
  width: 50%;
  overflow: auto;
}
.tFooter {
  background-color:  #595959;
}
.tHead {
  background-color:  #595959;

}
  
.iframex {
  margin: 0 auto;
}

.container {
    border: none;
    padding: 5px;
    width: 500px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
.peo {
  text-align: center;
}

