.container {
    border-top: 0px;
}

.tableBody {
    border: 5px solid black;
    
}
.trs {
    border: 5px solid black;

}

.tableBody tbody tr td{
    border: 5px solid black;
    width: 1%;

}
.tableBody tbody tr {
    border: 5px solid black;
    width: 1%;

}
